.total__wrapper {
  width: 101.6rem;
  display: grid;
  grid-template-columns: auto 35rem 3.9rem 32.9rem auto;
  grid-template-rows: 22.4rem 3rem 20rem;
}

.cart-total__information {
  grid-column: 4;
  grid-row: 1;
}

.cart-information {
  grid-column: 2;
  grid-row: 1 / 5;
  background-color: var(--primary-background);
  padding: 2rem;
  margin-bottom: 4rem;
}

.information {
  margin-top: 2rem;
}

.information__item {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.information__item-input {
  margin-top: .6rem;
  width: 31rem;
}

.information__item-input-wide {
  width: 22rem;
}

.information__item-input-tight {
  width: 7rem;
}

.information__address {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 7rem 2rem 15rem 2rem 5rem;
  grid-row: auto auto;
}

.information__address__item {
  margin-top: 1rem;
}

.information__address__item-number {
  grid-column: 4;
}

.information__address__item-bus {
  grid-row: 2;
}

.information__address__item-place {
  grid-column: 3;
  grid-row: 2;
}

.information__button {
  width: 31rem;
}

.information__item-name {
  display: flex;
  flex-direction: row;
}
