.total__wrapper {
  width: 101.6rem;
  display: grid;
  grid-template-columns: auto 42rem 3.9rem 32.9rem auto;
  grid-template-rows: auto auto;
}

.cart-total__information {
  grid-column: 4;
  grid-row: 1;
}

.cart-information {
  grid-column: 2;
  grid-row: 1 / 3;
  background-color: var(--primary-background);
  padding: 2rem;
}
