@media only screen and (max-width: 1016px) {

  /* layout en index */

  .webshop {
    grid-template-columns: 18.8rem auto;
    margin: 0 2rem;
  }

  .products {
    grid-gap: 2rem;
  }

  .footer__wrapper {
    background-color: black;
    height: 10rem;
    margin-top: 10rem;
  }

  .footer {
    background-color: black;
    padding: 0 2rem;
    width: 102.1%;
  }

  .footer__dpgmedia {
    width: 6rem;
    height: 5rem;
  }

  .footer__text {
    font-size: 1.6rem;
  }

  .social-image {
    width: 2rem;
    height: 2rem;
  }

  .body {
    margin: 0;
    padding: 0;
  }

  .menu-two {
    background-color: white;
    margin-top: -4rem;
  }

  .menu-two__item-cart {
    display: block;
    margin-right: 2rem;
  }

  .menu-two__item {
    display: none;
  }

  .menu__link {
    font-size: 1.8rem;
  }

  .sticky {
    top: 4rem;
  }

  .main-fixed {
    margin-top: 6rem;
  }

  .filter-fixed {
    margin-top: 6rem;
  }

  .menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu__items {
    display: flex;
    flex-direction: column;
  }

  .menu__item-video {
    background-color: transparent;
    margin-top: 4rem;
  }

  .menu__link-video {
    color: black;
  }

  /* stylelint-disable */

  #menuToggle {
    display: block;
    position: relative;
    top: 2.5rem;
    left: 2rem;
    z-index: 3;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 5rem;
    height: 4rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 4; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    position: fixed;
    background: black;
    border-radius: 3px;
    z-index: 3;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  }

  .hamburger__two {
    top: 3.4rem;
  }

  .hamburger__three {
    top: 4.3rem;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menu__wrapper {
    position: fixed;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: var(--primary-background);
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-170%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu__items li {
    padding: 1rem 0;
    font-size: 2.2rem;
  }

  .menu__items {
    list-style-type: none;
  }

  #menuToggle input:checked ~ div{
    transform: none;
  }

  /* stylelint-enable */
  /* detail */

  .boek {
    margin: 2rem;
  }

  .boek__info-description {
    margin-right: 2rem;
  }

  .button {
    width: 22rem;
  }

  .boek__info-buttons {
    justify-content: flex-start;
  }

  .button-link {
    padding: 1.8rem 7rem;
    margin-left: 1rem;
  }

  /* cart */

  .cart-code-total__wrapper {
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: auto;
    margin: 2rem;
  }

  .cart {
    grid-row: 1;
    grid-column: 1 / 3;
    width: 100%;
    margin-bottom: 0;
  }

  .code {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
  }

  .item__image {
    width: 10rem;
    height: 12rem;
  }

  .item {
    grid-template-columns: 10rem 2rem 3fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .process {
    margin-left: 2rem;
  }

  .cart-button {
    width: 100%;
  }

  .code__button {
    width: 100%;
  }

  .code__input {
    width: 100%;
  }

  .product-description {
    font-size: 1.6rem;
  }

  .cart-total__items {
    font-size: 1.6rem;
  }

  .cart__title {
    font-size: 3rem;
  }

  .information__address__item-street {
    grid-column: 1 / 4;
    margin-right: 2rem;
  }

  .information__address__item-number {
    grid-column: 4 / 6;
  }

  .information__address__item-place {
    grid-column: 3 / 6;
  }

  /* payment */

  .cvc {
    margin-left: 2rem;
  }

  .payment__item-wrapper__number {
    grid-column: 2 / 4;
  }

  .total__wrapper {
    grid-template-rows: auto 3rem auto;
  }
}

@media only screen and (max-width: 768px) {

  body {
    font-size: 1.8rem;
  }

  .webshop {
    grid-template-columns: 24rem auto;
  }

  .products {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;
    margin-top: 2rem;
  }

  .image {
    width: 35.1rem;
    height: 41.7rem;
  }

  .title {
    font-size: 4.5rem;
  }

  .search__field {
    height: 5rem;
    width: 33rem;
    font-size: 2.2rem;
    padding-left: 5rem;
  }

  .search__submit-image {
    width: 2.5rem;
    height: 2.5rem;
  }

  .filter__link {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
  }

  .button-filter {
    width: 22rem;
    height: 5rem;
    font-size: 2.3rem;
  }

  .info__wrapper {
    grid-template-columns: 3fr 1.4fr;
    padding: 2rem;
  }

  .subtitle {
    margin-bottom: 1rem;
  }

  .price {
    margin-right: 1.5rem;
  }

  .logo-image {
    width: 31.5rem;
    height: 10.5rem;
  }

  .item-cart__image {
    width: 4.05rem;
    height: 3.15rem;
  }

  .main-fixed {
    margin-top: 9.5rem;
  }

  .filter-fixed {
    margin-top: 9.5rem;
  }

  .menu-two__items {
    grid-template-rows: 10.5rem;
  }

  .menu-two__item-cart {
    margin-right: 3rem;
  }

  .item-cart {
    margin-left: 2rem;
  }

  .hamburger__two {
    top: 5.4rem;
  }

  .hamburger__three {
    top: 6.8rem;
  }

  /* stylelint-disable */

  #menuToggle {
    top: 4rem;
    left: 3rem;
  }

  #menuToggle input {
    width: 6rem;
    height: 6rem;
    top: 2.5rem;
    left: 2rem;
  }

  #menuToggle span {
    width: 5rem;
    height: .5rem;
  }

  /* stylelint-enable */

  .menu__wrapper {
    width: 50rem;
  }

  .menu__link {
    font-size: 3rem;
    line-height: 1.6;
  }

  /* detail */

  .boek__info-price {
    font-size: 3rem;
  }

  .boek__info-subtitle {
    font-size: 3rem;
  }

  .boek__info-description__part {
    font-size: 2rem;
  }

  .footer__wrapper {
    margin-top: 30rem;
  }

  /* cart */

  .code__input {
    font-size: 2.2rem;
    height: 5rem;
  }

  .product-description {
    font-size: 1.8rem;
  }

  .cart-total__items {
    font-size: 1.8rem;
  }

  .cart__title {
    font-size: 4rem;
  }

  .text {
    height: 5rem;
    width: 5rem;
    font-size: 2.2rem;
  }

  .remove-from-cart__image {
    width: 2rem;
    height: 2rem;
  }

  .payment__item-title {
    font-size: 2rem;
  }

  .cart-information__payment-item {
    font-size: 1.8rem;
  }

  .cart__title-information {
    font-size: 3.5rem;
  }

  /* confirmation */

  .confirmation {
    width: 50rem;
  }
}

@media only screen and (max-width: 580px) {

  .webshop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products {
    margin-left: 2rem;
  }

  .info__wrapper {
    padding: 2.5rem;
  }

  .image {
    width: 50rem;
    height: 60rem;
  }

  .title {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  .subtitle {
    margin-bottom: 2rem;
    line-height: 1.3;
  }

  .search__field {
    height: 8rem;
    width: 60rem;
    font-size: 4rem;
    padding-left: 6rem;
  }

  .search__submit-image {
    width: 4rem;
    height: 4rem;
  }

  .filter {
    width: 40rem;
    margin: 4rem auto;
  }

  .filter__link {
    font-size: 4.5rem;
    line-height: 1.4;
  }

  .form-submit {
    width: 3rem;
    height: 3rem;
  }

  .button-filter {
    height: 8rem;
    width: 35rem;
    font-size: 4rem;
  }

  body {
    font-size: 2.6rem;
  }

  .logo-image {
    width: 42rem;
    height: 14rem;
  }

  .item-cart__image {
    width: 5.4rem;
    height: 4.2rem;
  }

  .main-fixed {
    margin-top: 13.6rem;
  }

  .filter-fixed {
    margin-top: 13.6rem;
  }

  .footer__wrapper {
    background-color: transparent;
    height: 13rem;
    margin-top: 120rem;
  }

  .footer__dpgmedia {
    width: 10rem;
    height: 8rem;
  }

  .footer__text {
    font-size: 3rem;
  }

  .social-image {
    width: 4rem;
    height: 4rem;
  }

  .footer {
    background-color: black;
    width: 102.1%;
  }

  .menu-two__items {
    grid-template-rows: 14.5rem;
  }

  .item-cart {
    margin-left: 2.5rem;
  }

  .menu-two__item-cart {
    margin-right: 3rem;
  }

  .hamburger__two {
    top: 6.8rem;
  }

  .hamburger__three {
    top: 8.6rem;
  }

  /* stylelint-disable */

  #menuToggle {
    top: 5rem;
    left: 4rem;
  }

  #menuToggle input {
    width: 7rem;
    height: 7rem;
    top: 3rem;
    left: 3.2rem;
  }

  #menuToggle span {
    width: 6rem;
    height: .6rem;
  }

  /* stylelint-enable */

  .menu__wrapper {
    width: 100%;
  }

  .menu__link {
    font-size: 3.5rem;
    line-height: 1.8;
  }

  .menu__item {
    text-align: center;
  }

  .menu__item-video {
    text-align: center;
  }

  /* detail */

  .boek {
    flex-direction: column;
  }

  .boek__cover {
    align-self: center;
    width: 93.8rem;
    height: 110rem;
    padding-left: 2rem;
  }

  .boek__info-title {
    width: auto;
  }

  .boek__info-price {
    margin: 3rem 0 1rem;
  }

  .boek__info-description {
    margin-top: 3rem;
  }

  .boek__info-description__part {
    font-size: 3rem;
    line-height: 1.6;
  }

  .button {
    width: 40rem;
    height: 8rem;
    font-size: 3rem;
  }

  /* cart */

  .code__input {
    font-size: 3.2rem;
    height: 6rem;
  }

  .cart-code-total__wrapper {
    grid-template-columns: 98%;
    grid-template-rows: auto 30rem 50rem;
    margin: 2rem;
  }

  .cart {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    margin-bottom: 0;
  }

  .code {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
  }

  .cart-total {
    grid-column: 1;
    grid-row: 3;
  }

  .product-description {
    font-size: 2.8rem;
  }

  .cart-total__items {
    font-size: 2.8rem;
  }

  .cart__title {
    font-size: 6rem;
    margin-bottom: 2rem;
  }

  .cart-button {
    width: 100%;
  }

  .code__button {
    width: 100%;
  }

  .steps {
    flex-direction: column;
  }

  .step {
    margin-bottom: 5rem;
  }

  .step__image {
    width: 2rem;
    height: 2rem;
    transform: rotate(90deg);
    margin-bottom: 5rem;
  }

  .step__link {
    display: unset;
    padding: 2rem 13rem;
  }

  .process {
    padding-top: 5rem;
  }

  .text {
    height: 6rem;
    width: 6rem;
    font-size: 2.5rem;
  }

  .button-update {
    width: 30rem;
    height: 6.5rem;
    font-size: 2.8rem;
  }

  .remove-from-cart__image {
    width: 2.5rem;
    height: 2.5rem;
  }

  .total__wrapper {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-left: 1rem;
  }

  .cart-information {
    grid-column: 1;
    grid-row: 1;
  }

  .cart-total__information {
    grid-row: 2;
  }

  .information__address {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .information__address__item-bus {
    grid-column: 1/3;
    margin-right: 2rem;
  }

  /* payment */

  .payment__item-wrapper {
    grid-template-columns: 1fr 3fr 2fr;
  }

  .payment__item-title {
    font-size: 3rem;
  }

  .cart-information__payment-item {
    font-size: 2.8rem;
  }

  .cart-information__payment-item__img {
    width: 2.5rem;
    height: 2.5rem;
  }

  /* confirmation */

  .confirmation {
    width: 75rem;
  }
}

@media only screen and (max-width: 360px) {

  body {
    font-size: 4rem;
  }

  .products {
    grid-template-columns: 1fr;
    grid-gap: 3vw;
    margin-top: 2rem;
  }

  .product {
    margin-bottom: 4rem;
  }

  .image {
    width: 100rem;
    height: 120rem;
  }

  .title {
    font-size: 9rem;
  }

  .info__wrapper {
    padding: 3rem;
    grid-template-columns: 4fr 1fr;
  }

  .price {
    margin-right: 2rem;
  }

  .search__field {
    height: 11rem;
    font-size: 5.5rem;
  }

  .button-filter {
    font-size: 5rem;
    height: 11rem;
    width: 40rem;
  }

  .logo-image {
    width: 52.5rem;
    height: 17.5rem;
  }

  .item-cart__image {
    width: 6.75rem;
    height: 5.25rem;
  }

  .main-fixed {
    margin-top: 17.3rem;
  }

  .filter-fixed {
    margin-top: 17.3rem;
  }

  .item-cart {
    margin-left: 3rem;
  }

  .menu-two__items {
    grid-template-rows: 18.2rem;
  }

  .menu-two__item-cart {
    margin-right: 2rem;
  }

  .hamburger__two {
    top: 9.5rem;
  }

  .hamburger__three {
    top: 12rem;
  }

  /* stylelint-disable */

  #menuToggle {
    top: 7rem;
    left: 4rem;
  }

  #menuToggle input {
    width: 7rem;
    height: 7rem;
    top: 3rem;
    left: 3.2rem;
  }

  #menuToggle span {
    width: 8rem;
    height: .8rem;
  }

  /* stylelint-enable */

  .menu__link {
    font-size: 5rem;
    line-height: 2;
  }

  .product-description {
    font-size: 4rem;
  }

  .cart-total__items {
    font-size: 4rem;
  }

  .cart__title {
    font-size: 9rem;
  }

  /* cart */

  .cart-code-total__wrapper {
    grid-template-columns: 97.5%;
  }

  .text {
    height: 10rem;
    width: 8rem;
    font-size: 4rem;
    padding-left: 2rem;
  }

  .cart-total__item {
    margin-bottom: 4rem;
  }

  /* payment */

  .payment__item-title {
    font-size: 4rem;
  }

  .cart-information__payment-item {
    font-size: 4rem;
    line-height: 1.7;
  }

  .cart-information__payment-item__img {
    width: 3rem;
    height: 3rem;
  }

  /* confirmation */

  .confirmation {
    width: 100rem;
  }

  .confirmation__text {
    margin-top: 2rem;
  }

  .confirmation__button {
    margin-top: 2rem;
  }
}
